body{
	background-color: black;
	margin: 0px;
}

.main{
	width: 1170px;
	height: 1000px;
	margin: auto;
	border: red solid 2px;
	background-color: #908c89;
}

.row1{
	width: 1170px;
	height: 40px;
	background-color: #343130;
	float: left;
}

.web-link{
	width: 300px;
	height: 30px;
	color: white;
	font-size: 18px;
	padding-left: 10px;
	padding-top: 10px;
	font-family: arial;
	float: left;
}

.email{
	width: 300px;
	height: 30px;
	color: white;
	font-size: 18px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	font-family: arial;
	text-align: right;
	float: right;
}

.row2{
	width: 1170px;
	height: 180px;
	background-color: white;
}

.logo{
	width: 200px;
	height: 140px;
	padding: 10px 20px;
	float: left;
}

.menu{
	width: 900px;
	height: 50px;
	float: left;
	margin-top: 80px;
	margin-left: 20px;
}

.menuitems{
	float: left;
	padding: 15px;
	padding-left: 45px;
	font-size: 20px;
	font-family: arial;
	font-weight: bold;

}
.row3{
	width: 1150px;
	height: 800px;
	background-color: white;
	margin: 10px 10px;
}

.menu1{
	border: red 2px solid;
	width: 280px;
	height: 330px;	
	align-items: center;
}

.menuitems1{
	margin: auto;
	margin-top: 5px;
	margin-bottom: 10px;
	width: 230px;
	height: 20px;
	border: 2px red solid;
	padding: 10px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	font-family: arial;
	color: white;
	background-color: #00a8ec;
}

.newsbox{
	width: 280px;
	height: 330px;
	border: 2px red solid;
	float: left;
}

.news{
	text-align: center;
	width: 277px;
	height: 50px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border: 2px red solid;
	padding-top: 20px;
	font-size: 25px;
	font-weight: bold;
	font-family: arial;
	color: white;
	background-color: orange;
}

ul{
	list-style: none;
	border-radius: 10px;
}

.bigimage{
	width: 600px;
	height: 400px;
	border: solid red 1px;
	float: right;
}